{% load static %}

<html>

<head>
  <meta charset="UTF-8">
  <title>Connect Fashion</title>
    <link rel="icon" href="{% static 'logo-yeallow.png' %}">
</head>
<link rel="stylesheet" href="{% static 'product.css' %}">
<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs((slideIndex += n));
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {
    slideIndex = 1;
  }
  if (n < 1) {
    slideIndex = x.length;
  }
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex - 1].style.display = "flex";
}

</script>
<body>
  <header>
    <div class="container">
      <img class="logo" src="{% static 'logo-yeallow.png' %}">
      <div id="branding">
        

        <h1>Connect Fashion</h1>
      </div>
      <nav>
        <ul>
          <li><a href="#">Sản phẩm</a></li>
          <li><a href="#">Chứng nhận</a></li>
          <li><a href="#">Về chúng tôi</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="wrapper">
  <article class="main">
                <div>

              <div class="w3-content w3-display-container">
                <img class="mySlides" src="{% static '1.jpg' %}" style="display:flex">
                <img class="mySlides" src="{% static '2.jpg' %}" >
                <img class="mySlides" src="{% static '3.jpg' %}" >
                <img class="mySlides" src="{% static 'qr.png' %}" >
                <img class="mySlides" src="{% static 't.jpg' %}" >
                <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
              </div>

            </div> 
  </article>
  <aside class="aside aside-2">
    <h1>Tranh Gai</h1>
    <div class="table-container">
        <div class="table-row">
            <div class="table-cell">Mã sản phẩm</div>
            <div class="table-cell">YPMV23-01600</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Thành phần</div>
            <div class="table-cell">COTTON:2% RAMIE:98%</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Kiểu dệt</div>
            <div class="table-cell">YD POPLIN</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Kích Thước</div>
            <div class="table-cell">100cm*55cm</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Trọng lượng</div>
            <div class="table-cell">2kg</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Tác giả</div>
            <div class="table-cell">Tô Ngọc Vân Vân</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Đơn vị sở hữu</div>
            <div class="table-cell">CTCPCK XYZ</div>
        </div>
        <div class="table-row">
            <div class="table-cell">Mã QR</div>
            <div class="table-cell">{{qrid}}</div>
        </div>
    </div>
    
  </aside>
</div>

  <footer>
    <div id="footer">
      <div class="footer-container">
        <div class="footer">
          <h4>Explore the Docs</h4>
          <p>Mauris metus eros, Nullam enim sapien, maximus sed mi nec.</p>
        </div>
        <div class="footer">
          <h4>Explore the Docs</h4>
          <p>Mauris metus eros, Nullam enim sapien, maximus sed mi nec.</p>
        </div>
        <div class="footer">
          <h4>Explore the Docs</h4>
          <p>Mauris metus eros, Nullam enim sapien, maximus sed mi nec.</p>
        </div>
        <div class="footer">
          <h4>Explore the Docs</h4>
          <p>Mauris metus eros, Nullam enim sapien, maximus sed mi nec.</p>
        </div>
      </div>
    </div>
  </footer>

  <footer>
    <div id="footer2"></div>
  </footer>
</body>

</html>